@page
@model PrivacyModel
@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
}
<h1>Zásady ochrany osobních údajů</h1>

<p>Tento dokument popisuje, jakým způsobem web Karavanový Svět (dále jen "my", "náš") shromažďuje, uchovává a chrání osobní údaje svých návštěvníků (dále jen "uživatelé", "vy").</p>
<p>
    <h3>Shromažďování údajů</h3>
    <ul>
        <li>Google Ads: Na našem webu používáme službu Google Ads pro monetizaci obsahu. Google může shromažďovat data o vašich zájmech, vašem chování na webu a interakcích s reklamami. Tyto údaje slouží k zobrazení cílené reklamy.</li>
        <li>Clicky: Pro analýzu návštěvnosti a chování uživatelů na našem webu používáme službu Clicky. Clicky může shromažďovat informace o vašem prohlížeči, IP adrese, a jak na našem webu interagujete.</li>
        <li>Cookies: Na našem webu používáme cookies, malé textové soubory uložené ve vašem prohlížeči, pro sledování počtu zobrazení jednotlivých blogových příspěvků za účelem zabránění jejich opakovaného započítávání. Tyto cookies neobsahují žádné osobní údaje.</li>
    </ul>
</p>
<p>Tento dokument může být aktualizován, proto doporučujeme jeho pravidelnou kontrolu. Vaše další používání našeho webu po veřejném oznámení změn v těchto zásadách bude považováno za akceptaci těchto změn.</p>