@page
@model KaravanovySvet.Pages.Blog.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Blog.Id" />
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <input asp-for="Blog.Title" class="form-control" />
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Perex" class="control-label"></label>
                <input asp-for="Blog.Perex" class="form-control" />
                <span asp-validation-for="Blog.Perex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.MainText" class="control-label"></label>
                <input asp-for="Blog.MainText" class="form-control" />
                <span asp-validation-for="Blog.MainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Labels" class="control-label"></label>
                <input asp-for="Blog.Labels" class="form-control" />
                <span asp-validation-for="Blog.Labels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.PublishDate" class="control-label"></label>
                <input asp-for="Blog.PublishDate" class="form-control" />
                <span asp-validation-for="Blog.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.PermaLink" class="control-label"></label>
                <input asp-for="Blog.PermaLink" class="form-control" />
                <span asp-validation-for="Blog.PermaLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Location" class="control-label"></label>
                <input asp-for="Blog.Location" class="form-control" />
                <span asp-validation-for="Blog.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Keywords" class="control-label"></label>
                <input asp-for="Blog.Keywords" class="form-control" />
                <span asp-validation-for="Blog.Keywords" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Blog.Comments" /> @Html.DisplayNameFor(model => model.Blog.Comments)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
