@model KaravanovySvet.Models.Blogs

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teaser" class="control-label"></label>
                <input asp-for="Teaser" class="form-control" />
                <span asp-validation-for="Teaser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perex" class="control-label"></label>
                <textarea asp-for="Perex" id="#editor" class="form-control"></textarea>
                <span asp-validation-for="Perex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainText" class="control-label"></label>
                <textarea asp-for="MainText" id="#editor" class="form-control"></textarea>
                <span asp-validation-for="MainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Labels" class="control-label"></label>
                <input asp-for="Labels" class="form-control" />
                <span asp-validation-for="Labels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermaLink" class="control-label"></label>
                <input asp-for="PermaLink" class="form-control" />
                <span asp-validation-for="PermaLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keywords" class="control-label"></label>
                <input asp-for="Keywords" class="form-control" />
                <span asp-validation-for="Keywords" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Comments" /> @Html.DisplayNameFor(model => model.Comments)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TotalViews" class="control-label"></label>
                <input asp-for="TotalViews" class="form-control" />
                <span asp-validation-for="TotalViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Head {
    <script src="https://cdn.tiny.cloud/1/nbtydhjmzm7v0ixm78i1g99fyjcf5hzzle44zl7c17dnkx70/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            language_url: '/js/cs.js',
            language: 'cs',
            plugins: 'autoresize',
            menubar: false,
            toolbar: 'alignleft alignright aligncenter alignjustify alignnone | blocks | bold'
        });
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
