@model KaravanovySvet.Models.BlogViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <input asp-for="Blog.Title" class="form-control" />
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Teaser" class="control-label"></label>
                <input asp-for="Blog.Teaser" class="form-control" />
                <span asp-validation-for="Blog.Teaser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogImage.ImageFile" class="control-label"></label>
                <input asp-for="BlogImage.ImageFile" type="file" class="form-control" />
                <span asp-validation-for="BlogImage.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogImage.AltText" class="control-label"></label>
                <input asp-for="BlogImage.AltText" class="form-control" />
                <span asp-validation-for="BlogImage.AltText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Perex" class="control-label"></label>
                <textarea asp-for="Blog.Perex" id="#editor" class="form-control"></textarea>
                <span asp-validation-for="Blog.Perex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.MainText" class="control-label"></label>
                <textarea asp-for="Blog.MainText" id="#editor" class="form-control"></textarea>
                <span asp-validation-for="Blog.MainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Labels" class="control-label"></label>
                <input asp-for="Blog.Labels" class="form-control" />
                <span asp-validation-for="Blog.Labels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.PublishDate" class="control-label"></label>
                <input asp-for="Blog.PublishDate" class="form-control" />
                <span asp-validation-for="Blog.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.PermaLink" class="control-label"></label>
                <input asp-for="Blog.PermaLink" class="form-control" />
                <span asp-validation-for="Blog.PermaLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Location" class="control-label"></label>
                <input asp-for="Blog.Location" class="form-control" />
                <span asp-validation-for="Blog.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Keywords" class="control-label"></label>
                <input asp-for="Blog.Keywords" class="form-control" />
                <span asp-validation-for="Blog.Keywords" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Blog.Comments" /> @Html.DisplayNameFor(model => model.Blog.Comments)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Blog.TotalViews" class="control-label"></label>
                <input asp-for="Blog.TotalViews" class="form-control" />
                <span asp-validation-for="Blog.TotalViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Head {
    <script src="https://cdn.tiny.cloud/1/nbtydhjmzm7v0ixm78i1g99fyjcf5hzzle44zl7c17dnkx70/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            language_url: '/js/cs.js',
            language: 'cs',
            plugins: 'autoresize',
            menubar: false,
            toolbar: 'alignleft alignright aligncenter alignjustify alignnone | blocks | bold'
        });
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
