<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Karavanový Svět</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://kit.fontawesome.com/3aeded1a52.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8766138508565551"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header class="w3-cell-row w3-hide-medium w3-hide-small">
        <!-- Default menu bar -->
        <div class="w3-cell" style="padding-left:1em;min-width:27em">
            <h1>
                <a asp-area="" asp-page="/Index">
                    <img src="~/img/logo.png" alt="Karavan logo" style="max-height: 1em"/>
                    Karavanový svět
                </a>
            </h1>
        </div>
        <nav class="w3-cell w3-cell-middle w3-bar" style="padding-left:3em">
            <a asp-area="" asp-page="/Index" class="headerNav w3-bar-item">Úvodní stránka</a>
            <!-- Invoke the BlogYears view component here -->
            @await Component.InvokeAsync("BlogYears")
        </nav>
    </header>
    <!-- Tablet menu bar -->
    <div class="w3-container w3-hide-large w3-hide-small">
        <h1>
            <a asp-area="" asp-page="/Index">
                <img src="~/img/logo.png" alt="Karavan logo" style="max-height: 1em" />
                Karavanový svět
            </a>
        </h1>
    </div>
    <div class="w3-auto w3-bar w3-hide-large w3-hide-small">
        <a asp-area="" asp-page="/Index" class="headerNav w3-bar-item">Úvodní stránka</a>
        <a asp-area="" asp-page="/Blog/Index" asp-route-SearchString="" class="headerNav w3-bar-item">Blog</a>
    </div>
    <!-- Mobile menu bar with sidebar -->
    <div class="w3-hide-large w3-hide-medium">
        <div class="w3-container">
            <h2 style="font-size:2em">
                <a asp-area="" asp-page="/Index" style="font-family:'Rubik Maps', sans-serif">
                    <img src="~/img/logo.png" alt="Karavan logo" style="max-height: 1em" />
                    Karavanový svět
                </a>
            </h2>
            <hr />
            <div class="w3-right">
                <i id="menuIcon" class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="w3-sidebar w3-bar-block w3-collapse w3-animate-right w3-hide-large w3-hide-medium" style="text-align:right;width:200px;right:0;display:none" id="sidebarNav">
            <a asp-area="" asp-page="/Index" class="w3-bar-item">Úvodní stránka</a>
            <a asp-area="" asp-page="/Blog/Index" asp-route-SearchString="" class="w3-bar-item">Blog</a>
        </div>
    </div>

    <main>
        @RenderBody()
    </main>

    <footer class="w3-black w3-padding">
        <h1>
            <a asp-area="" asp-page="/Index">
                <img src="~/img/logow.png" alt="Karavan logo" style="max-height: 1em" />
                Karavanový svět
            </a>
        </h1>
            <div class="w3-small" style="color:lightgray">
                &copy; 2024 - KaravanovySvet - <a asp-area="" asp-page="/Privacy">Ochrana osobních údajů</a>
            </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $('#menuIcon').click(function () {
            $(this).toggleClass('fa-arrow-right');
            if (document.getElementById("sidebarNav").style.display === "none") {
                document.getElementById("sidebarNav").style.display = "block";
            } else {
                document.getElementById("sidebarNav").style.display = "none";
            }
        });
    </script>
    <script async data-id="101447136" src="//static.getclicky.com/js"></script>
</body>
</html>