@model List<int>;

<div class="w3-bar-item w3-dropdown-hover">
    <a asp-area="" asp-page="/Blog/Index" asp-route-SearchString="" class="headerNav">Blog</a>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
        @foreach (var year in Model)
        {
            <a asp-area="" asp-page="/Blog/Index" asp-route-SearchString="@year" class="dropDownNav w3-bar-item">@year</a>
        }
    </div>
</div>